<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs')%>
</head>
<body>
    <%- include ('partials/header.ejs')%>

        <!--Main-->
        <div class="container w3-white mt-5" style="min-height: 300px;">
            <h1 class="display-4 w3-border-bottom"><small>Problematicas</small></h1>
    
            <!--Tablink-->
            <div class="w3-row">
                <a href="javascript:void(0)" onclick="openSection(event, 'Ardilla_de_vientre_rojo');">
                    <div
                        class="w3-third tablink w3-col s12 m6 w3-bottombar w3-hover-light-grey w3-padding w3-pale-green w3-border-green">
                        Ardilla de vientre rojo</div>
                </a>
                <a href="javascript:void(0)" onclick="openSection(event, 'Bosque_de_Acacias_Negras');">
                    <div class="w3-third tablink w3-col s12 m6 w3-bottombar w3-hover-light-grey w3-padding">Bosque de
                        Acacias Negras</div>
                </a>
            </div>
            <!--Ardilla-->
            <div id="Ardilla_de_vientre_rojo" class="w3-container section" style="display:block">
                <div class="w3-container">
                    <div class="card mt-2">
                        <header class="card-header text-center">
                            <h2>Ardilla de vientre rojo</h2>
                        </header>
    
                        <div class="row p-4">
                            <div class="col-sm-12">
                                <img class="rounded" src="../img/Problematicas/01_ArdillaVientreRojo_OPDS.jpg"
                                    style="width: 100%;" alt="">
                            </div>
                            <div class="col-sm-12">
                                <p>Las ardillas de vientre rojo, especie canadiense, fueron introducidas en la década de
                                    1970 como mascotas por su valor ornamental y a partir de dicho suceso, se formó una
                                    primera colonia en el partido de Luján, donde empezó su expansión ya que no tenían
    
                                    depredadores naturales en esa zona. <br> <br>
                                    Aunque parezcan amigables, las ardillas producen impactos enormes. Roen los
                                    árboles, eliminando la corteza que los protege, rompe nidos y huevos y trae
                                    enfermedades para las cuales la fauna nativa no tiene anticuerpos. Al ser humano lo
    
                                    afecta comiendo cables y caños. <br><br>
                                    Además de esto, se le suma un problema social, no se lleva adelante un plan de
                                    erradicación ya que las ardillas en Luján son un atractivo turístico. <br> <br>
                                    A esto se le suma el especismo que existe en la población (preferir una especie antes
                                    que otra).Las ratas traen casi los mismos problemas que las ardillas y así, eligen
                                    matar las ratas, ya que horroriza a las personas y no a las ardillas porque son
                                    “lindas”. <br><br>
                                    Hoy en día la expansión es en muchas partes del país y todavía no se encontró un
                                    <br><br>
                                    método para controlarlas de manera efectiva.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Bosque de Acacias Negras-->
            <div id="Bosque_de_Acacias_Negras" class="w3-container section" style="display:none">
                <div class="w3-container">
                    <div class="card mt-2">
                        <header class="card-header text-center">
                            <h2>Bosque de Acacias Negras</h2>
                        </header>
                        <div class="row p-4">
                            <div class="row col-sm-12">
                                <div class="col-sm-12 col-md-4"><img class="rounded"
                                        src="../img/Problematicas/2017-05-06 COA 027.JPG" alt="" style="width: 100%;"></div>
                                <div class="col-sm-12 col-md-4"><img class="rounded"
                                        src="../img/Problematicas/arbolcaido.jpg" alt="" style="width: 100%;"></div>
                                <div class="col-sm-12 col-md-4"><img class="rounded" src="../img/Problematicas/IMG-3.jpg"
                                        alt="" style="width: 100%;"></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <p>
                                Especie de árbol caducifolio de la familia Fabaceae.
                                Es originaria del sureste de Estados Unidos, en la cuenca del río Mississippi (Virginia). La
                                Acacia negra, o Gleditsia triacanthos, es una especie arbórea introducida a nuestro país a
                                principios del siglo XIX.
                                <br><br>
                                Se reproduce sexual y asexualmente; la polinización es entomófila y la dispersión de
                                semillas es endozoócora. Gran capacidad de rebrote por las raíces y es resistente a la
                                poda y a la sequía.
                                <br><br>
                                Un estudio de la FAUBA demostró que la capacidad invasora de esta leñosa en la
                                Argentina está dada por dos estrategias complementarias: adaptación genética para
                                germinar en distintas condiciones y capacidad de ajustarse y crecer ante cambios
                                ambientales. Es un grave problema ecológico y productivo. <br><br>
                                Erradicarlos tiene un costo económico inmenso por la potencia que se necesita. Incluso,
                                obligan a la aplicación de cantidades importantes de herbicidas perjudiciales para el
                                ambiente. <br><br>
                                El bosque de acacias es lo que llamamos un desierto verde. Porque si bien la zona tiene
                                plantas, sólo crece el acacio y alguna que otra más. El acacio es una especie que viene
                                de América del Norte y que es invasora y tóxica para las nativas, por lo que donde hay
                                acacio, no hay otra cosa. Esto contrasta mucho con el ecosistema original: en la ribera del
                                río debería haber un paisaje selvático.
                                <br> <br>
                                No sólo desplaza a las plantas, sino que también desplaza a los animales. Insectos, aves
                                y mamíferos que por millones de años coevolucionaron con las plantas nativas para
                                beneficio mutuo, ahora se encuentran con esta especie desconocida, que no reconocen
                                como alimento ni como hogar, salvo por unas pocas especies que suelen adaptarse a
                                todos los ambientes (como las que están en las fotos) y, si tienen los medios, tienen que
                                irse a otros lugares donde sí haya plantas nativas
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        <!--Main end-->

    <%- include ('partials/footer.ejs')%>

    
</body>
</html>