    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5 mt-5 bg-white">

        <div style="background-color: #ffffff;">
            <div class="container">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center border-top border-bottom">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">¡Seguinos en nuestras redes sociales!</h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                        <!-- Facebook -->
                        <a class="fb-ic" href="https://www.facebook.com/reservanatural.delpilar/">
                            <i class="fab fa-facebook-f white-text mr-4"></i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic" href="https://instagram.com/reservadelpilar">
                            <i class="fab fa-instagram white-text"></i>
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text ">

                <!-- Grid column -->
                <div class="col-md-5 mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">Reserva Natural de Pilar</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        Ubicada a orillas del río Luján, esta área protegida te permite acercarte a la naturaleza local, en un espacio destinado a desarrollar sensibilidad, compromiso y respeto hacia el patrimonio natural.
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contenido</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="dark-grey-text" href="/Ecosistemas">Ecosistemas</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="/Flora">Flora</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="/Fauna">Fauna</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="/Problematicas">Problemáticas</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold" id="contactoid">Contacto</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> Argerich s/n, Pilar</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>patrimonionatural@gmail.com</p>
                    <p>
                        <i class="fab fa-whatsapp mr-3"></i> +54 11 5730 2504</p>
                    <p>
                        <i class="fab fa-whatsapp mr-3"></i> +54 11 4404-9848</p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!--Credits-->
        <div class="container bg-white border-top py-3">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10 text-center">

                    <h5 class="font-weight-light">!Agradecemos a los estudiantes del Instituto Nuestra Señora de Fatima por la realización del diseño, información y programación de la pagína web¡</h5>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3 bg-secondary">© 2020 Copyright:
            <a class="dark-grey-text text-body" href="#"> Reserva Natural de Pilar</a>
        </div>

    </footer>
    <!-- Footer end -->
    <script src="/js/myscript.js"></script>